
/* Homepage*/
.homepage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff;
  padding: 50px;
}

/* Text section */
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
}

.text-container img{
  width: 150px;
}

.text-container h1 {
  padding: 25px 0;
  font-size: 2rem;
  margin-bottom: 15px;
}

.text-container p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.btn-login{
  padding: 12px 25px;
  font-size: 1rem;
  background-color: #111;
  color: #fff;
  border: 1px solid rgb(0, 0, 0);
  margin: 5px;
  border-radius: 15px;
  cursor: pointer;
}

.btn-signup{
  padding: 12px 25px;
  font-size: 1rem;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid rgb(0, 0, 0);
  margin: 5px;
  border-radius: 15px;
  cursor: pointer;
}

.btn-login:hover{
  background-color: #333;
}

.btn-signup:hover{
  background-color: #0008ff;
  color: #fff;
}



/* Image section */
.image-container {
  max-width: 400px;
  display: flex;
  justify-content: center;
}

.image-container img {
  width: 250px;
  
}

/* Mobile responsiveness */
@media (min-width: 480px) {
  .homepage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  margin: 0px;
  padding: 30px;
}

/* Text section */
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  padding: 50px;
}

.text-container img{
  width: 250px;
}

.text-container h1 {
  padding: 25px 0;
  font-size: 3rem;
  margin-bottom: 15px;
}

.text-container p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

/* Image section */
.image-container {
  max-width: 800px;
  display: flex;
  justify-content: center;
}

.image-container img {
  width: 1000px;
}
}