@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap');

/* Page background */
.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Sora', sans-serif;
    background-image: url("../../public/auth-bg.jpg");
}

/* Card container */
.login-card {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* Title */
.login-card h2 {
    margin-bottom: 30px;
    font-size: 1.8rem;
}

.login-card p {
    margin-bottom: 25px;
    font-size: 0.95rem;
    color: #202020;
}

/* Form */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

/* Inputs */
.login-form input {
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 0.95rem;
    outline: none;
    transition: 0.2s ease;
}

.login-form input:focus {
    border-color: #111;
}

/* Button */
.login-form button {
    padding: 12px;
    border: none;
    border-radius: 15px;
    background-color: #111;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s ease;
    width: 50%;
    margin: 0px 25%
}

.login-form button:hover {
    background-color: #333;
}

/* Footer text */
.login-footer {
    margin-top: 20px;
    font-size: 0.9rem;
}

.login-footer a {
    color: #111;
    font-weight: 600;
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 480px) {
    .login-card {
        padding: 25px;
        margin: 0 25px;
    }
}